@import url('https://fonts.googleapis.com/css2?family=Abhaya+Libre:wght@400;700&family=Courgette&family=Dancing+Script:wght@400;700&family=Martel:wght@300;400;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Hamburger Menu */
.hamburger {
    cursor: pointer;
    width: 24px;
    height: 24px;
    transition: all 0.25s;
    position: relative;
}

.hamburger-top,
.hamburger-mid,
.hamburger-bot {
    position: absolute;
    top: 0;
    left: 0;
    width: 24px;
    height: 2px;
    background: rgb(255, 73, 124);
    transform: rotate(0);
    transition: all 0.5s;
}

.hamburger-mid {
    transform: translateY(7px);
}

.hamburger-bot {
    transform: translateY(14px);
}

.open {
    transform: rotate(90deg);
    transform: translateY(0px);
}

.open .hamburger-top {
    transform: rotate(45deg) translateY(6px) translate(6px);
}

.open .hamburger-mid {
    display: none;
}

.open .hamburger-bot {
    transform: rotate(-45deg) translateY(6px) translate(-6px);
}

 .swiper-slide {
    max-height: 100%;
    /* Center slide text vertically */
    display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
        overflow: auto;
 }

.swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

html, body {
    max-width: 100%;
    overflow-x: hidden;
}
